body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header{
    padding-left: 40px;
    padding-bottom: 20px;   
}

a {
    text-decoration: none;
    font-family: Lato;
    color: #FFFFFF;
}

.principal {
    background-image: linear-gradient(to bottom right,#594DFF, #352D9F);
}

footer{
    background-image: linear-gradient(to top right, #8880FF, #594DFF);
}

.typography{
    font-family: Lato;
    color: #FFFFFF;
}

.categories{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 20px;
    align-items: center;
}

.categories p, button{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.client-area{
    width: 100%;
    justify-content: flex-end;
    display:flex; 
    margin-top: 0;
}

.client-area p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.border {   
    width: 25%;
    justify-content: flex-end;
    display: flex;
    border-bottom: #FFFFFF solid 1px;
    border-left: #FFFFFF solid 1px;
}

button{
    width: 140px; 
    height: 40px; 
    background: rgba(76, 175, 80, 0); 
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
    cursor: pointer;
}

.image-header{
    width: 100%;
    justify-content: end;
}

.image-header img{
    justify-content: flex-end;
    width: 380px;
}

.content-header {
    display: flex;
    margin-top: 10px;
    margin-right: 40px;
}

.social-icons{
    display: grid;
    position: absolute;
    right: 0;
    top: 240px;
    justify-items: center;
    margin-right: 40px;
}

.social-icons img{
    margin-bottom: 20px;
}

.description{
    margin-right: 60px;
    margin-left: 120px;
    margin-bottom: auto;
    margin-top: auto;
    width: 70%;   
}

.description p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.description button{
    margin-top: 30px;
    width: 260px;
    height: 60px;
}

.owl-prev{
    display: none;
}

.owl-next span{
    font-size: 52px;
    position: absolute;
    top: 0;
    left: 690px;
    color: #fff;
    top: 25%;
    background-color: #6C63FF;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    text-align: -webkit-center;
}

.owl-item{
    overflow-y: hidden;
}